.headline {
  &__primary-text {
    display: none;
    margin: 0 0 30px;
    padding: 24px;
    @include font(14px, 700);
    line-height: 18px;
    background-color: $light-blue;

    @include mobile {
      display: block;
    }
  }

  &__form {
    padding: 40px;
    background-color: $light-blue;

    @include mobile {
      padding: 20px;
    }


    &-title {
      @include font(20px, 700);
      line-height: 32px;
      margin-bottom: 24px;

      @include mobile {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 16px;
      }
    }
  }

  &__input {
    height: 48px;
  }

  &__textarea {
    height: 84px;
  }
}

.news {
  &__container {
    margin-bottom: 80px;

    @include mobile() {
      margin-bottom: 64px;
    }
  }

  &__form-container {
    padding: 40px;
    background-color: $light-blue;

    @include mobile {
      padding: 20px;
    }
  }

  &__img {
    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__form-title {
    color: $blue;
    @include font(18px, 700);
    line-height: 24px;
    margin-bottom: 24px;


    @include mobile {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 16px;
    }
  }

  &__input {
    height: 48px;
  }

  &__textarea {
    height: 84px;
  }
}
